<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Menu</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link" href="/JhipsterThymeleaf/Cenovnik/Get">Cenovnik</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/JhipsterThymeleaf/Faktura/Get">Fakture</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/JhipsterThymeleaf/Grupa/Get">Grupe</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/JhipsterThymeleaf/JedinicaMere/Get">Jedinice mere</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/JhipsterThymeleaf/Kategorija/Get">Kategorije</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/JhipsterThymeleaf/Klijent/Get">Klijenti</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/JhipsterThymeleaf/PDV/Get">PDV</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/JhipsterThymeleaf/Prodavac/Get">Prodavci</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/JhipsterThymeleaf/Stavka/Get">Stavke</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/JhipsterThymeleaf/TekucaGodina/Get">Tekuca godina</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/JhipsterThymeleaf/Usluga/Get">Usluge</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<a class="btn btn-primary" style="width: 100%" href="/JhipsterThymeleaf/Stavka/Create">KREIRAJ</a>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Roba/Usluga</th>
        <th scope="col">Kolicina</th>
        <th scope="col">Cena</th>
        <th scope="col">PDV</th>
        <th scope="col">Cena sa PDVom</th>
        <th scope="col">Vrednost RSD</th>
        <th scope="col">Faktura</th>
        <th scope="col">Usluga</th>
        <th scope="col">-</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item: ${list}">
        <td scope="row" th:text="${item.id}"></td>
        <td th:text="${item.vrstaRobeIliUsluge}"></td>
        <td th:text="${item.kolicina}"></td>
        <td th:text="${item.cena}"></td>
        <td th:text="${item.pdv}"></td>
        <td th:text="${item.cenaPlusPDV}"></td>
        <td th:text="${item.vrednostRSD}"></td>
        <td th:text="${item.faktura.interniBroj}"></td>
        <td th:text="${item.usluga.naziv}"></td>
        <td>
            <form method="post" th:action="@{/Stavka/Delete}">
                <input type="hidden" th:value="${item.id}" name="id" />
                <input class="btn btn-danger" type="submit" style="width: 100%" value="OBRISI">
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>